@import url("../fonts/roboto.css");
@import url("../fonts/hamlin.css");

/* Плавная проекрутка и гладкие шрифты */

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Анкор для главной */

.anchor-main {
  position: absolute;
  display: block;
  top: -100px;
}

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

/* Header */

.header {
  position: relative;
  z-index: 1;
}

.header__mobile-line {
  position: relative;
  height: 50px;
  cursor: pointer;
  background-color: #000;
  display: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

@media all and (max-width: 600px) {
  .header__mobile-line {
    display: block;
  }
}

.header__mobile-line-burger,
.header__mobile-line-burger::before,
.header__mobile-line-burger::after {
  width: 30px;
  position: absolute;
  height: 3px;
  background: #fff;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
}

.header__mobile-line-burger {
  top: 23px;
  right: 10px;
}

.header__mobile-line-burger::before {
  content: "";
  top: -10px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__mobile-line-burger::after {
  content: "";
  bottom: -10px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__mobile-line .header__mobile-line-burger.active:before {
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms,
    transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header__mobile-line .header__mobile-line-burger.active:after {
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms,
    transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header__mobile-line .header__mobile-line-burger.active {
  background: rgba(255, 255, 255, 0);
}

@media all and (max-width: 600px) {
  .header-wrapper {
    display: none;
    opacity: 0;
  }
}

.header-wrapper.active {
  display: block;
  opacity: 1;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__row {
  padding: 10px 40px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
}

@media all and (max-width: 1200px) {
  .header__row {
    padding: 10px 20px 10px 20px;
  }
}

@media all and (max-width: 890px) {
  .header__row {
    flex-direction: column;
  }
}

.header__logo {
  width: 90px;
}

.header__text-logo-wrapper {
  margin: 0 35px 0 35px;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 890px) {
  .header__text-logo-wrapper {
    margin: 0 20px 0 20px;
  }
}

@media all and (max-width: 417px) {
  .header__text-logo-wrapper {
    margin: 0 10px 0 10px;
  }
}

.header__text-logo {
  margin-bottom: 5px;
  width: 150px;
}

.header__text-logo-description {
  font-size: 9px;
  color: #000;
  font-family: "Hamlin", Tahoma, Verdana, Segoe, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.header__contacts-container {
  display: flex;
  align-items: center;
}

@media all and (max-width: 890px) {
  .header__contacts-container {
    padding: 20px 0;
  }
}

@media all and (max-width: 600px) {
  .header__contacts-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.header__contacts-button {
  font-family: "Roboto", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  border: 0;
  border-radius: 30px;
  padding: 15px 30px 15px 30px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  min-width: 156px;
}

@media all and (max-width: 587px) {
  .header__contacts-button {
    order: 3;
  }
}

@media all and (max-width: 1200px) {
  .header__contacts-button {
    font-size: 12px;
  }
}

.header__contacts-button:hover {
  -webkit-filter: opacity(0.7);
  filter: opacity(0.7);
}

.header__contacts-wrapper {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

@media all and (max-width: 600px) {
  .header__contacts-wrapper {
    padding-left: 0;
  }
}

.header__contacts-text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.header__contacts-icon {
  width: 30px;
  height: 30px;
}

@media all and (max-width: 587px) {
  .header__contacts-icon {
    display: none;
  }
}

.header__contacts-text-item {
  font-family: "Roboto", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  line-height: 1.55;
  border-bottom: 1px solid transparent;
}

@media all and (max-width: 1200px) {
  .header__contacts-text-item {
    font-size: 12px;
    font-weight: 500;
  }
}

.header__contacts-text-item-link {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: #000;
  transition: all 0.7s ease-out;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.header__contacts-text-item-link:hover {
  border-color: #000;
}

.header__nav {
  padding: 18px 40px 18px 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-top: #e2e2e2 1px solid;
  border-bottom: #e2e2e2 1px solid;
}

@media all and (max-width: 1200px) {
  .header__nav {
    padding: 18px 20px 18px 20px;
  }
}

.header__nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
  grid-auto-flow: column;
  gap: 60px;
}

@media all and (max-width: 490px) {
  .header__nav-menu {
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
  }
}

@media all and (max-width: 400px) {
  .header__nav-menu {
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
  }
}

.header__nav-menu-item-link {
  font-family: "Roboto", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.7s ease-out;
  border-bottom: 1px solid transparent;
}

@media all and (max-width: 1200px) {
  .header__nav-menu-item-link {
    font-size: 16px;
  }
}

@media all and (max-width: 740px) {
  .header__nav-menu-item-link {
    font-size: 14px;
  }
}

.header__nav-menu-item-link:hover {
  border-color: #000;
}

/* Обложка */

.cover {
  padding-left: 8vw;
  background: url("../images/cover.jpg") no-repeat;
  background-size: cover;
  height: 80vh;
}

.cover__wrapper {
  padding: 110px 0 60px;
  max-width: 760px;
}

@media all and (max-width: 1200px) {
  .cover__wrapper {
    max-width: 660px;
  }
}

.cover__title {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #fff;
}

@media all and (max-width: 1200px) {
  .cover__title {
    font-size: 48px;
  }
}

@media all and (max-width: 740px) {
  .cover__title {
    font-size: 30px;
  }
}

.cover__paragraph-item {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.55;
  color: #fff;
}

@media all and (max-width: 1200px) {
  .cover__paragraph-item {
    font-size: 20px;
  }
}

@media all and (max-width: 740px) {
  .cover__paragraph-item {
    font-size: 18px;
  }
}

/* Галерея */

.gallery {
  overflow: hidden;
  background-color: #f3f3f3;
}

.gallery__title {
  margin: 50px 0 30px;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #000;
  text-align: center;
}

.gallery__wrapper {
  position: relative;

  height: 450px;
}

@media all and (max-width: 1200px) {
  .gallery__wrapper {
    height: 368px;
  }
}

@media all and (max-width: 960px) {
  .gallery__wrapper {
    height: 314px;
  }
}

@media all and (max-width: 800px) {
  .gallery__wrapper {
    height: calc(100vw * 0.5233333333333333);
  }
}

.gallery__knockout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 860px;
  height: 450px;
}

@media all and (max-width: 1200px) {
  .gallery__knockout {
    width: 700px;
    height: 368px;
  }
}

@media all and (max-width: 960px) {
  .gallery__knockout {
    width: 600px;
    height: 314px;
  }
}

@media all and (max-width: 800px) {
  .gallery__knockout {
    width: 100%;
    height: calc(100vw * 0.5233333333333333);
  }
}

.gallery__to-left {
  position: absolute;
  z-index: 1;
  top: 43%;
  left: -75px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../images/arrow.svg") no-repeat 54% #e8e8e8;
  background-size: 20%;
  transform: rotate(180deg);
  cursor: pointer;
}

.gallery__to-right {
  position: absolute;
  z-index: 1;
  top: 43%;
  right: -75px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../images/arrow.svg") no-repeat 54% #e8e8e8;
  background-size: 20%;
  cursor: pointer;
}

.gallery__slides {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 100px;
  transition: all ease-in-out 0.3s;
}

.gallery__slide {
  border-radius: 5px;
  overflow: hidden;
  width: 860px;
  height: 450px;
}

@media all and (max-width: 1200px) {
  .gallery__slide {
    width: 700px;
    height: 368px;
  }
}

@media all and (max-width: 960px) {
  .gallery__slide {
    width: 600px;
    height: 314px;
  }
}

@media all and (max-width: 800px) {
  .gallery__slide {
    width: 100vw;
    height: calc(100vw * 0.5233333333333333);
  }
}

.gallery__slide-image {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: all ease-in-out 0.3s;
}

.gallery__slide-image.active {
  opacity: 1;
}

.gallery__bullets {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__bullet {
  margin: 0 3px;
  color: #c7c7c7;
  font-size: 35px;
  cursor: pointer;
}

.gallery__bullet:hover {
  color: #000;
}

.gallery__bullet.active {
  color: #000;
}

/* Направления */

.directions {
  padding: 50px 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directions__title {
  margin: 0;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #000;
  text-align: center;
}

.directions__list {
  margin: 0;
  padding: 100px 0 0;
  max-width: 1200px;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
}

@media all and (max-width: 490px) {
  .directions__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.directions__list-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.directions__item-image {
  width: 55px;
}

.directions__item-text {
  margin-top: 23px;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 20px;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center;
}

@media all and (max-width: 1200px) {
  .directions__item-text {
    font-size: 18px;
  }
}

@media all and (max-width: 640px) {
  .directions__item-text {
    font-size: 16px;
  }
}

.directions__item-text-description {
  margin-top: 20px;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
}

@media all and (max-width: 1200px) {
  .directions__item-text-description {
    font-size: 18px;
  }
}

@media all and (max-width: 640px) {
  .directions__item-text-description {
    font-size: 16px;
  }
}

.why {
  padding: 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F3;
}

.why__title {
  margin: 0;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #000;
  text-align: center;
}

.why__paragraph {
  margin: 30px 0 0;
  max-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 20px;
  line-height: 1.55;
  text-align: center;
}
