@import url("../fonts/roboto.css");

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

/* Header */

.header {
  position: relative;
}

.header__mobile-line {
  position: relative;
  height: 50px;
  cursor: pointer;
  background-color: #000;
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

@media all and (max-width: 600px) {
  .header__mobile-line {
    display: block;
  }
}

.header__mobile-line-burger,
.header__mobile-line-burger::before,
.header__mobile-line-burger::after {
  width: 30px;
  position: absolute;
  height: 3px;
  background: #fff;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
}

.header__mobile-line-burger {
  top: 23px;
  right: 10px;
}

.header__mobile-line-burger::before {
  content: "";
  top: -10px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__mobile-line-burger::after {
  content: "";
  bottom: -10px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__mobile-line .header__mobile-line-burger.active:before {
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms,
    transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header__mobile-line .header__mobile-line-burger.active:after {
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms,
    transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header__mobile-line .header__mobile-line-burger.active {
  background: rgba(255, 255, 255, 0);
}

@media all and (max-width: 600px) {
  .header-wrapper {
    display: none;
    opacity: 0;
  }
}

.header-wrapper.active {
  display: block;
  opacity: 1;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__row {
  padding: 10px 40px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #e2e2e2 1px solid;
  background-color: #f3f3f3;
}

@media all and (max-width: 1200px) {
  .header__row {
    padding: 10px 20px 10px 20px;
  }
}

@media all and (max-width: 890px) {
  .header__row {
    flex-direction: column;
  }
}

.header__logo {
  width: 90px;
}

.header__logo-text {
  margin: 0 35px 0 35px;
  font-size: 52px;
  color: #000;
  font-family: "Roboto", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
}

@media all and (max-width: 890px) {
  .header__logo-text {
    margin: 0 20px 0 20px;
  }
}

@media all and (max-width: 417px) {
  .header__logo-text {
    margin: 0 10px 0 10px;
  }
}

.header__contacts-container {
  display: flex;
  align-items: center;
}

@media all and (max-width: 890px) {
  .header__contacts-container {
    padding: 20px 0;
  }
}    

@media all and (max-width: 600px) {
  .header__contacts-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.header__contacts-button {
  font-family: "Roboto", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  border: 0;
  border-radius: 30px;
  padding: 15px 30px 15px 30px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  min-width: 156px;
}

@media all and (max-width: 587px) {
  .header__contacts-button {
    order: 3;
  }
}

@media all and (max-width: 1200px) {
  .header__contacts-button {
    font-size: 12px;
  }
}

.header__contacts-button:hover {
  filter: opacity(0.7);
}

.header__contacts-wrapper {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

@media all and (max-width: 600px) {
  .header__contacts-wrapper {
    padding-left: 0;
  }
}

.header__contacts-text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.header__contacts-icon {
  width: 30px;
  height: 30px;
}

.header__contacts-text-item {
  font-family: "Roboto", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  line-height: 1.55;
  border-bottom: 1px solid transparent;
}

@media all and (max-width: 1200px) {
  .header__contacts-text-item {
    font-size: 12px;
    font-weight: 500;
  }
}

.header__contacts-text-item-link {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: #000;
  transition: all 0.7s ease-out;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.header__contacts-text-item-link:hover {
  border-color: #000;
}

.header__nav {
  padding: 18px 40px 18px 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

@media all and (max-width: 1200px) {
  .header__nav {
    padding: 18px 20px 18px 20px;
  }
}

@media all and (max-width: 490px) {
  .header__nav {
    justify-content: left;
  }
}

.header__nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

@media all and (max-width: 1540px) {
  .header__nav-menu {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
  }
}

@media all and (max-width: 890px) {
  .header__nav-menu {
    grid-template-rows: repeat(3, 1fr);
  }
}

@media all and (max-width: 740px) {
  .header__nav-menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media all and (max-width: 490px) {
  .header__nav-menu {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.header__nav-menu-item:not(:last-child) {
  margin-right: 70px;
}

.header__nav-menu-item-link {
  font-family: "Roboto", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.7s ease-out;
  border-bottom: 1px solid transparent;
}

@media all and (max-width: 1200px) {
  .header__nav-menu-item-link {
    font-size: 16px;
  }
}

@media all and (max-width: 740px) {
  .header__nav-menu-item-link {
    font-size: 14px;
  }
}

.header__nav-menu-item-link:hover {
  border-color: #000;
}

/* Обложка */

.cover {
  padding-left: 8vw;
  background: url("../images/cover.jpg") no-repeat;
  background-size: cover;
  height: 80vh;
  
}

.cover__wrapper {
  padding: 110px 0 60px;
  max-width: 760px;
}

@media all and (max-width: 1200px) {
  .cover__wrapper {
    max-width: 660px;
  }
}

.cover__title {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #fff;
}

@media all and (max-width: 1200px) {
  .cover__title {
    font-size: 48px;
  }
}

@media all and (max-width:740px) {
  .cover__title {
    font-size: 30px;
  }
}

.cover__paragraph-item {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.55;
  color: #fff;
}

@media all and (max-width: 1200px) {
  .cover__paragraph-item {
    font-size: 20px;
  }
}

@media all and (max-width:740px) {
  .cover__paragraph-item {
    font-size: 18px;
  }
}
